
nav{
    background: -webkit-linear-gradient(90deg, rgb(64, 82, 115), rgb(57, 89, 83));
    background: linear-gradient(90deg, rgb(64, 82, 115), rgb(57, 89, 83));
    height: 50px;
}

body{
    background-color: rgba(0, 0, 0, 0.795);
    color: aliceblue;
}

a{
    text-decoration: none;
    color: rgb(27, 116, 116);
}

a:hover{
    color: rgb(219, 154, 124);
}