nav{
    background: -webkit-linear-gradient(89deg, rgb(141, 241, 240), rgb(176, 246, 164));
    background: linear-gradient(90deg, rgb(141, 241, 240), rgb(176, 246, 164));
    height: 50px;
}

body{
    background-color: rgba(223, 223, 223, 0.301);
}

a{
    text-decoration: none;
    color: rgb(27, 116, 116);
}

a:hover{
    color: rgb(219, 154, 124);
}