
#profile{
    display: flex;

}

#section1{
    width: 30%;
}



#top{
    position: relative;
    width: 200px;
    height:150px;
    left: 195px;
    transform: translate(-50%);
    text-align: center;
}

#data{
    border: solid 3px aliceblue;
    position: relative;
    width: 390px;
    height: 350px;
}
#count{
    width: 384px;
    position: absolute;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#count li {
    list-style: inside;
    list-style: none;
    border: #f0f8ff;
    overflow: hidden;
    color:#f0f8ff;
    width: 129px;
    height: 120px;
    margin: 2px;
    text-align: center;
}

#count li p{
    margin-bottom: 10px;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: #f0f8ff solid 1px;
}

#update{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,0%);
    border: aliceblue solid 1px;
    width: 80%;
    text-align: center;
    background-color: rgb(24, 23, 23);
}

#section2{
    width: 60%;
    border: rebeccapurple solid 1px;
    position: relative;
    left: 10%;
    height: 500px;
}

#title{
    display: flex;
    background-color: #333;
    color: white;
    position: relative;
    height: 30px;
}

#search_box{
    position:absolute;
    right: 20px;
    align-items: center;
}

#title_post{
    margin-left: 20px;
    background-color: red;
    height: 30px;
    align-items: center;
}

#context {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0%);
}

.form-inline{
    margin: 0;
    padding: 0;
    bottom: -8px;
}

#review{
    height: 470px;
    overflow: auto;
}